<!DOCTYPE html>
<html>
    <head>
        <title>User Api Example: User authentication in Python</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
            .container {
                max-width: 800px;
                padding-top: 100px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{ GREETING|safe  }}
        </div>
    </body>
</html>